
/*general css start*/
body {
    font-family: 'Open Sans', sans-serif;
    color:#2a353d;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    font-size: 120px;
    font-weight: 800;
}

h2 {
    font-size: 30px;
    font-weight: 300;
}

h3 {
    font-size: 25px;
    margin-top: 30px;
    font-weight: 300;
}

h4 {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    margin-top: 30px;
}

.top-gap-15px {
    margin-top: 15px;
}

.top-gap-30px {
    margin-top: 30px;
}
/*general css end*/

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul li{
    margin-bottom:15px;
}

.extra-gap {
    padding:15px 0;
}

.topgap-50 {
    margin-top:50px;
}

.topgap-80 {
    margin-top:80px;
}

a#scrollUp {
    animation: 2s ease 0s normal none infinite running bounce;
    background: #fe980f none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    padding: 5px 10px;
    right: 30px;
}




/*header css start*/

/*.header-background {
    background-image: -webkit-linear-gradient(top, #E5CC66, #CCE599);
    background-image: -moz-linear-gradient(top, #E5CC66, #CCE599);
    background-image: -ms-linear-gradient(top, #E5CC66, #CCE599);
    background-image: -o-linear-gradient(top, #E5CC66, #CCE599);
    background-image: linear-gradient(top, #E5CC66, #CCE599);
}*/

.black-bg{
    background-color:#2a353d;
    padding:15px 0; 
}

.color-white {
    color:#ffffff;
}

.gray-color{
    color:#2a353d;
    outline:none;
}

.gray-color:hover,.gray-color:focus, .gray-color:active{
    color:#2a353d;
}

.no-outline {
    outline:none;
}

.text-bold {
    font-weight:bold;
}

.big-heading {
    text-align: center;
}

span.title-text {
    font-size: 50px;
    font-weight: 300;
}

.demo-header {
    background: rgba(0, 0, 0, 0) url('../Images/sourav-image.jpg') no-repeat scroll center center;
    background-size: cover;
    padding: 320px 0 80px;
    text-align: center;
}

.preview-pane {
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
}

    .preview-pane hr {
        margin: 5px auto;
        max-width: 50px;
    }

    .preview-pane a {
        color: #222;
    }

        .preview-pane a:focus {
            outline: medium none;
        }

        .preview-pane a img {
            transition: all 0.5s ease 0s;
        }

        .preview-pane a:hover img {
            opacity: 0.5;
        }

.label-primary {
    background-color: #ef4035;
}

.cta-list {
    margin-top: 30px;
}
/*header css start*/


/*resume css start*/
.section-container-wrapper .section-container section ul.item-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.tag {
    background-color: #d2d2d2;
    border-radius: 22px;
    color: #454545;
    font-size: 12px;
    line-height: 22px;
    margin: 2px 0 0;
    padding: 0 11px;
    text-align: center;
}

.title-style {
    color: #2a353d;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/*resume css start*/

/*footer css start here*/
footer.big-footer {
    background: white;
    padding: 50px 0;
    border-top: 0px solid @eeeeee;
}

[class^="hvr-"] {
    background: #d2d2d2 none repeat scroll 0 0;
    color: #2a353d;
    cursor: pointer;
    margin: 0.4em;
    padding: 2em 3em;
    text-decoration: none;
    text-decoration: none;
}

.hvr-buzz-out:active, .hvr-buzz-out:focus, .hvr-buzz-out:hover {
     color: #2a353d;
     text-decoration:none;
}
/*resume css end here*/
